{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/autenticacao.css' %}">
    <title>Login </title>
</head>
<body>
    <main> 
          
        <div class="formulario">
            <h1>Bem-vindo à Gurgel Park</h1>
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}        
                <input type="text" placeholder="Usuario..." name="username"> <br>
                <input type="password" placeholder="Senha" name="senha"> <br>
                <input type="submit" name="entrar" value="ENTRAR">
                <div class="botoes">
                    <input type="submit" name="irPagina" value="Ir para a página principal"> <br>
                    <div class="b_cadastro">    
                        <input type="submit" name="irCadastro" value="Não possui conta?">
                    </div>
                </div>
            </form>
        </div>
        <div class="imagem"></div> 
    </main>


</body>
</html>