{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gurgel Park{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <span>Gurgel</span>
            <span>Parks</span>
            <span>Dash Vision</span>
        </div>
        <nav class="navbar">
            <a href="{% url 'sistema'%}">Sistema</a>
            <a href="{% url 'projeto'%}">Projeto</a>
            <a href="{% url 'home' %}">Voltar a Home</a> 
        </nav>
    </header>
    <!-- Aqui vai ficar a parte sobre a empresa -->
     <h1 class="saudacao">Seja bem-vindo, {{user.username}}!👋 </h1>
    <main> 
        
        <section class="bloco">       
                <div class="texto">
                    <h2 class="semititulos">Gurgel Park</h2>
                    <p> -> A Gurgel Park é uma empresa inovadora que oferece um sistema de gerenciamento de estacionamento eficiente e automatizado. </p>
                    <p> -> Nosso objetivo é facilitar o controle das vagas, garantir um fluxo organizado de entrada e saída de veículos, e proporcionar um serviço de qualidade para nossos clientes.        
                    </p>
                </div>      
                    <div class="imagem sobre-gurgel"></div>
             
        </section>
        <section class="bloco invertido">
            <div class="texto texto-invertido">
                <h2 class="semititulos">O Projeto</h2>
                <p> -> O projeto principal consistiu em criar um sistema  que permite cadastrar e atualizar informações sobre as vagas de estacionamento, facilitando a administração das áreas de estacionamento. Além disso, possui um registro de entradas e saídas permite que a cada movimentação de veículos, o sistema registra as entradas e saídas, associando cada evento ao cliente correspondente. </p>
                <p> -> Desenvolvido em <strong>Python, PyQt5, HTML, CSS</strong> e dentre outras tecnologias inclusas</p>
            </div>
            <div class="imagem sobre-projeto"></div>
        </section>   
        <section class="bloco">
            <div class="texto">
                <h2 class="semititulos">O Sistema</h2>
                <p> -> Nosso sistema permite que usuários reservem vagas antecipadamente, recebam notificações e alertas e paguem diretamente pelo celular. Compatível com Android e iOS, oferece ainda mapas interativos do estacionamento.</p>
                <p> -> Nosso sistema funciona semelhante ao Sem Parar, entretanto com uma temática voltada exclusivamente ao serviço de estacionamento</p>
            </div>
            <div class="imagem sobre-aplicativo"></div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <p class="texto-rodape">Todos os direitos reservados à Gurgel Park &copy 2025. </p>
            <p class="texto-rodape">-</p>
            <p style="font-size: 12px;" class="texto-rodape">Email do usuário: {{user.email}}</p>
        </div>
    </footer>
</body>
</html>