{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/autenticacao.css' %}">
    <title>Redefinir senha</title>
</head>
<body>   

    <div class="formulario">
        <h1>REDEFINIR SENHA</h1>
        <form method="POST"> {% csrf_token %}
            <input type="text" name="username" placeholder="Usuário">
            <input type="password" name="nova_senha" placeholder="Nova senha">
            <input style="background-color:  #eb663e;" type="submit" value="Redefinir senha">
            <div class="voltar-login">
                <input type="submit" value="Voltar" name="voltar">
            </div>
        </form>
    </div>
</body>
</html>