{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <link rel="stylesheet" href="{% static 'css/sistema.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <span>Gurgel</span>
            <span>Park<span>
            <span>Dash Vision<span>
        </div>
        <nav class="navbar">
            <a href="{% url 'pagina' %}">Pagina Inicial</a>
            <a href="{% url 'projeto'%}">Projeto</a> 
        </nav>
    </header>

    <main class="pagina-sistema">
        <h1 class="titulo-sistema">Características do nosso Sistema</h1>
        
        <div class="funcionalidades">
            <div class="card-funcionalidade">
                <h3>Detecção da informação</h3>
                <ul>
                    <li>O sensor detecta a presença do véículo.</b></li>
                    <li>A informação é lida e interpretada pelo <b>ESP32</b>.</li>
                    <li>O algortimo verifíca e envia essa informação até o  <b>banco de dados</b>.</li>
                    <li>Ocorre a integração com o <b>banco</b> e o <b>aplicativo</b></li>
                </ul>
            </div>
            <div class="card-funcionalidade">
                <h3> Aplicação Dekstop</h3>
                <ul>
                    <li>Integrabilidade com o banco de dados</li>
                    <li>Cadastro do <b>Usuário</b> e do <b>Veículo</b></li>
                    <li>Usabilidade fácil do aplicativo</li>
                    <li>Setor destinado ao financeiro</li>
                </ul>
            </div>
            
            <div class="card-funcionalidade">
                <h3>Outras Características</h3>
                <ul>
                    <li>Registro de placas</li>
                    <li>Integração com câmeras</li>
                    <li>Possível alertas de permanência</li>
                    <li>Histórico completo</li>
                </ul>
            </div>
            </div>
        
        <div class="destaque-sistema">
            <h2>Tecnologia Integrada</h2>
            <p>Nosso sistema utiliza o sensor de distância <strong>HC-SR04</strong> junto com o micro-controlador <strong>ESP32</strong> integrada ao sistema para um melhor desempenho e demonstração. Abaixo, um exemplo do sensor e micro-controlador usado.</p>
            
        </div>
        <div class="destaque-sistema imagem">
        </div>
        
    </main>

    <footer> 
        <div class="rodape">
            <p class="texto-rodape">Todos os direitos reservados à Gurgel Park &copy 2025</p>
            <p class="texto-rodape">-</p>
            <p style="font-size: 12px;" class="texto-rodape">Email do usuário: {{user.email}}</p>
        </div>
    </footer>
</body>
</html>