body{
    font-family: JetBrains Mono Medium;background-image: url("../img/verde-estacionamento.png") ;
    background-size: cover;
    

}
h1{
  background-color: #7baf6f;
  box-shadow: 10px 5px 0px black;
  border-radius: 3px;
  padding: 4px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #a4cfa0;
    padding: 40px;
    border: 1.5px solid #313f30;
    border-radius: 10px;
    box-shadow: 10px 05px 15px #262e21;
    max-width: 400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #313f30;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    font-family: JetBrains Mono Medium;
    box-shadow: 10px 5px 0px black;
  }
  
  form input[type="submit"] {
    background-color: #7baf6f;
    color: black;
    border: 2px solid #313f30;
    padding: 12px;
    width: 100%;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 10px 5px 0px black;
  }
  
  form input[type="submit"]:hover {
    background-color: #3b6534;
  }
  